body{
  background: #fff;
  font-family: 'Outfit', monospace;
  font-size: 110%;
}
a{color:#000;}
a:hover{color:#fff;background-color:#000}

#container{
  max-width: 50em;
  margin: auto;
  text-align: center;
  padding: 0 5% 5% 10%;
}

span{visibility: hidden; display: none;}

h1#logo{text-align: center;}

h1#logo img{
  max-height: 6em;
  max-width: 6em;
  margin: 0.5em 0;}

h2{margin: 1em 0 0.5em 0;}

ul{
  margin:0;
  padding:0;
}

ul li{
  list-style: none;
  padding: 0.5em 0.8em 0.5em 2.3em;
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 0 50%;
  display:inline-block;
  margin: 1em 0;
  text-align: left;
  font-size: 110%;
}

.twitter{background-image: url(twitter.svg)}
.instagram{background-image: url(instagram.svg)}
.youtube{background-image: url(youtube.svg)}
.twitch{background-image: url(twitch.svg)}
